@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Myriad Pro';
    src: url('../../shared/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Myriad Pro';
    src: url('../../shared/fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Myriad Pro';
    src: url('../../shared/fonts/MyriadPro-Light.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Myriad Pro';
    src: url('../../shared/fonts/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  // @font-face {
  //   font-family: 'Myriad Pro';
  //   src: url('../../shared/fonts/MYRIADPRO-BOLDIT.OTF') format('opentype');
  //   font-weight: 700; /* Bold */
  //   font-style: italic;
  // }
  

  
  // @font-face {
  //   font-family: 'Myriad Pro';
  //   src: url('../../shared/fonts/MYRIADPRO-BOLDCONDIT.OTF') format('opentype');
  //   font-weight: 700; /* Bold Condensed Italic */
  //   font-style: italic;
  // }
  
  // @font-face {
  //   font-family: 'Myriad Pro';
  //   src: url('../../shared/fonts/MYRIADPRO-COND.OTF') format('opentype');
  //   font-weight: 400; /* Condensed */
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: 'Myriad Pro';
  //   src: url('../../shared/fonts/MYRIADPRO-BOLDCOND.OTF') format('opentype');
  //   font-weight: 700; /* Bold Condensed */
  //   font-style: normal;
  // }
  