@import "themes/dark";
@import "themes/light";
@import "./fonts.scss";
@import "./variables/colors.scss";
@import "./variables/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  
  font: var(--font-m);
  color: var(--primery-color);
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.todo{
  background-color: rgba(255, 0, 0, 0.6); 
  color: white;                          
  font-weight: bold;                     
  border: 1px solid red;                 
  border-radius: 6px;
  padding: 4px;
  text-align: center;
}