.app.dark {
  --bg-color: #353A3D;
  --primery-color: white;
  --secondary-color: white;
  --bg-toggle-color: #2D3134;
  --dark-grey:#2D3134;
  --bg-input-color:#353A3D;
  --text-input-color:white;
  --bg-button-color: #FFC400;
  --bg-checkbox-color:#353A3D;
}

.app.light {
  --bg-color: #fff;
  --primery-color:#000000;
  --secondary-color: #000000;
  --bg-toggle-color: #EBEBEB;
  --dark-grey:#F6F6F6;
  --bg-input-color: #EBEBEB;
  --text-input-color:#2D3134;
  --bg-button-color: #FFC400; 
  --bg-checkbox-color: #EBEBEB;
}

:root {
  --font-family-main: "Myriad Pro", Arial, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) var(--font-family-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
    font-family: var(--font-family-main);
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primery-color);
  color: var(--primery-color);
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
