@import "themes/dark";
@import "themes/light";
@import "./fonts.scss";
@import "variables/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  
}


.app {
  font: var(--font-m);
  color: var(--primery-color);
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

