:root {
    --dark-bg-color: #2A2B2E;
    --dark-lighter-bg-color: #353A3D;
    --text-input-color: #2D3134;
    --yellow-color: #FFC400;
    --grey-text-color: #888888;
    --dark-white-text-color: #EDEDED;
    --green: #4FBF4B;
    --red: #FF4E4E;
    --yellow: #FFC400;
    --grey: #353A3D;
    --dark-grey: #2D3134;

}