.overlay {
  width: 320px;
  height: 100vh;
  background-color: var(--bg-toggle-color);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  overflow-y: auto;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }

  .header {
    display: flex;
    gap: 10px;
    margin: 22px 0 0 20px;

    p {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .scope {
    width: 200px;
    margin: 22px 0 0 20px;
    color: white;

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .checkboxList {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;
      }

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        color: white;
        cursor: pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      .checkbox {
        width: 16px;
        height: 16px;
        border: 2px solid #ffc400;
        border-radius: 2px;
        display: inline-block;
        background: transparent;
      }

      input[type="checkbox"]:checked + .checkbox {
        background: #ffc400;
      }
    }
  }

  .more {
    width: 100%;
    margin: 22px 0 0 20px;
    padding-bottom: 20px;

    .toggle {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      p {
        color: white;
        font-weight: 600;
        font-size: 16px;
      }

      .arrow {
        width: 8px;
        height: 8px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        transition: transform 0.3s ease;

        &.up {
          transform: rotate(-135deg);
        }

        &.down {
          transform: rotate(45deg);
        }
      }
    }

    .content {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 600;
        color: white;
      }

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        color: white;
        cursor: pointer;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;

      .apply {
        width: 189px;
        padding: 10px 20px;
        background: transparent;
        border: 1px solid #ffc400;
        color: #ffc400;
        border-radius: 12px;
        cursor: pointer;
      }

      .reset {
        width: 189px;
        padding: 10px 20px;
        background: #ffc400;
        border: none;
        border-radius: 12px;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
