.wrapper {
  border-radius: var(--border-radius-main);
  padding: 4px; 
  background-color: var(--dark-lighter-bg-color); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}
