.upper_block {
    width: 100%;
    border: 1px solid #272A2D;
    border-left: none;
    height: 100px;
    background-color: var(--bg-toggle-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10.5px 14px;
}

.left_side {
    display: flex;
    gap: 4px;
}

.right_side {
    display: flex;
    align-items: center;
    gap: 12px;
}

//.create_order {
//    background-color: var(--bg-button-color);
//    padding: 10px 30px;
//    color: var(--bg-color);
//    border-radius: 12px;
//}

.control_panel {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    gap: 12px;
    padding: 8px;
}

.control_panel p {
    font-size: 9px;
    font-weight: 600;
}

.panel_btn {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.time {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.time p {
    text-align: center;
    margin: 0;
    line-height: 1.35;
}

.profile {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 10px;
}

.breadcrumb_item {
    display: flex;
    align-items: center;
}

.arrow_icon {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

.tab_link {
    text-decoration: none;
}


.logout_btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    stroke: var(--primery-color);
    transition: stroke 0.2s;
  }

  &:hover svg {
    stroke: var(--accent-color, #888);
  }
}

