
.container {
    padding: 25px 20px;
    border-radius: var(--border-radius-main);
    background-color: var(--color-bg-primary);
    cursor: pointer;
    
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-main);
  padding: 16px 20px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 0 0 200px; 

  h1 {
    font-size: 16px;
    font-weight: 600;
  }
}

.rank {
  flex: 1 1 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressBar {
  width: 100%;
  max-width: 500px;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 0 0 200px; 
}


  .projectDetails {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
  
    > * {
      flex: 1;
    }
   
    
  }.open {
        max-height: 1000px; 
        opacity: 1;
      }
}