.block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

.profileManagers {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.profileImages {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: var(--bg-toggle-color);
  cursor: pointer;
}

.userAndForm {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 62px;
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: #fff7dc;
  color: #ffc400;
  cursor: pointer;

}

.title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.logo {
  display: flex;
}

.options {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-left: 10px;
  position: absolute;;
  p {
    cursor: pointer;
    color: #888888;

    &:hover {
      color: #ffc400;
    }
  }

  .active {
    color: #ffc400;
  }
}


.images {
  display: flex;
  flex-direction: column;
  margin-left: 99px;
  margin-top: 35px;

}


.input {
  width: 380px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: var(--bg-toggle-color);
  outline: none;
  color:var( --primery-color);
  padding-left: 15px;
}

.titleForm {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.forms {
  margin-top: 17px;
}

.btnSearch {
  background: #FFC400;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-left: 11px;
}

.themeIcon {
  margin-left: 100px;
  margin-top: -80px;
  cursor: pointer;
}

//.blockForm {
//  margin-left: 51px;
//}
