.searchContainer {
    position: relative;
    flex: 1;
    max-width: 32rem;

    .searchIcon {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: #9CA3AF;
    }

    .searchInput {
      width: 100%;
      background-color: #2C2C2C;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem 0.5rem 3rem;
      color: white;

      &::placeholder {
        color: #9CA3AF;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #FFC400;
      }
    }
}