.ordersDropdown {
  position: absolute;
  top: 100%;
  right: 0; 
  margin-top: 8px;
  background: var(--bg-toggle-color);
  border-radius: 6px;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
  color: var(--primery-color);
  font-size: 14px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  width: max-content; 
  min-width: 140px;  
  white-space: nowrap; 
}

.orderItem {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07); 
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);  
    color: var(--yellow-color); 
  }
}
