.group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input {
  width: 80px;
  padding: 6px 10px;
  font-size: 12px;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 4px;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}

.input:focus {
  border-color: #ffc107;
}
