.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top-color: #4f46e5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  