.block {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: var(--color-bg-primary);
  color: var(--yellow-color);
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
}

.label {
  color: var(--yellow-color); 
}

.icon {
  width: 16px;
  height: 16px;
}
