

.main {
  width: 100%;
  display: flex;
  //justify-content: center;
  background: red;
}



.container {
  width: 100%;
  min-height: 150vh;
  margin: 0 auto;
  background: #2d3134;
  position: relative;
}

.search {
  //width: 90%;
  display: flex;
  justify-content: space-between;
  background: #353a3d;
  height: 54px;
  align-items: center;
  padding: 0 18px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons img:nth-child(2) {

}

.icons img {
  cursor: pointer;
}

.input {
  width: 205px;
  height: 32px;
  border: none;
  outline: none;
  background: #2d3134;
  border-radius: 10px;
  color: #888888;
  padding-left: 40px;
}

.input_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input_wrapper img {
  position: absolute;
  margin-left: 20px;
}


.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #353a3d;
  height: 54px;
  margin-top: 2px;
  align-items: center;
  padding: 0 18px;
}

.sub_options {
  width: 100%;
  display: flex;
  background: #353a3d;
  height: 54px;
  margin-top: 2px;
  padding: 0 18px;
  justify-content: flex-end;
  align-items: center;
}


.options_items {
  display: flex;
  gap: 15px;
}

.sub_options_items {
  display: flex;
  gap: 15px;
}

.selected_sub_option {
  background: #ffc400 !important;
  color: #2a2b2e !important;
  border-radius: 10px;
  transition: background 0.3s ease;
}


.sub_options_items p {
  height: 30px;
  background: #2d3134;
  font-size: 13px;
  border-radius: 10px;
  color: #888888;
  cursor: pointer;
  padding-left: 18px;
}

.sub_options_items p:nth-child(1) {
  width: 85px;
  padding-top: 4px;
}

.sub_options_items p:nth-child(2) {
  width: 85px;
  padding-top: 4px;
}

.sub_options_items p:nth-child(3) {
  width: 101px;
  padding-top: 4px;
}

.sub_options_items p:nth-child(4) {
  width: 86px;
  padding-top: 4px;
}

.options img {
  cursor: pointer;
}


.options_items p {
  height: 30px;
  background: #2d3134;
  font-size: 13px;
  border-radius: 10px;
  color: #888888;
  cursor: pointer;
  padding-left: 18px;
}

.options_items p:nth-child(1) {
  width: 62px;
  padding-top: 4px;
}

.options_items p:nth-child(2) {
  width: 110px;
  padding-top: 4px;
}

.options_items p:nth-child(3) {
  width: 95px;
  padding-top: 4px;
}

.options_items p:nth-child(4) {
  width: 169px;
  padding-top: 4px;
}

.options_items p:nth-child(5) {
  width: 115px;
  padding-top: 4px;
}

.selected {
  background: #ffc400 !important;
  color: #2a2b2e !important;
  border-radius: 10px;
  transition: background 0.3s ease;
}


.statusColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  height: 100vh;
  margin-top: 14px;
}

.statusColumn {
  flex: none;
}

.statusHeader {
  background-color: #2a2b2e;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  margin-bottom: 0.5rem;

  h3 {
    color: #ededed;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px;
}

.taskCard {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 0;
  position: relative;
}

.content_icons {
  position: absolute;
  display: block !important;
  margin-left: 236px;
  margin-top: 12px;
}

.content_icons img {
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
}


.taskContent {
  width: 270px;
  background-color: #2a2b2e;
  border-radius: 15px 15px 15px 15px;
  padding: 12px 20px;
}

.taskContent p:nth-child(1) {
  color: #ededed;
  margin-bottom: 10px;
}

.taskContent p:nth-child(2) {
  font-weight: 100;
  color: #b3b3b3;
  letter-spacing: 0;
}


.taskContent p:nth-child(3) {
  font-weight: 100;
  color: #b3b3b3;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.taskContent p:nth-child(4) {
  font-weight: 100;
  color: #ededed;
  letter-spacing: 0;
}

.taskContent p:nth-child(5) {
  font-weight: 100;
  color: #ededed;
  letter-spacing: 0;
}


.noOrders {
  color: #ff4e4e;
  text-align: center;
  font-size: 1.125rem;
  margin: 10px 0;
}


.sideFunnel {
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: 10;
  display: flex;
  margin: 0 auto;
}


