.container {
  width: 100%;
  min-height: 150vh;
  margin: 0 auto;
  background: #2d3134;
  margin-top: 50px;
}

.statusColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  height: 100vh;
  margin-top: 14px;
}

.statusColumn {
  flex: none;
  width: 270px;

}

.statusHeader {
  //width: 270px;
  background-color: #2a2b2e;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 0.75rem 2rem;
  margin-bottom: 0.5rem;

  h3 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px;
}

.taskBlock {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 0;
  position: relative;

}

.taskCard {
  //padding: 1rem;
  gap: 10px;
  padding-bottom: 10px;
}

.taskContent {
  width: 270px;
  height: 20vh;
  background-color: #2a2b2e;
  border-radius: 15px 15px 15px 15px;
  padding: 12px 20px;
  border-left: 1px solid #ffffff;
}

.material {
  color: #ffff;
  margin-bottom: 0.5rem;
}

.notice {
  color: #ffff;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.dates {
  color: #ffff;

  p {
    margin-bottom: 0.25rem;
  }
}

.notFound {
  color: white;
  text-align: center;
  font-size: 1.125rem;
}

