.sidebar {
  width: 400px;
  background-color: var(--bg-toggle-color);
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  transition: right 0.4s ease;
  border-left: 1px solid #272a2d;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  color: var(--text-color);

  &.open {
    right: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #272a2d;
  padding-bottom: 12px;
  margin-bottom: 16px;

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  button {
    all: unset;
    cursor: pointer;
    font-size: 18px;
    color: var(--secondary-font-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    margin: 0;
    line-height: 1.4;

    strong {
      color: var(--secondary-font-color);
      margin-right: 4px;
    }
  }
}
