// main {
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
// }

.main {
  display: flex;
  width: 100%;
  height: 100vh
}

.content {
  width: 100%;
}
