.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: --grey;
  border-radius: 8px;
  width: 280px;
  height: auto;
  padding: 1rem;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 100px;
  margin-top: -10%;
}

.topButtons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.topButtons button {
  width: 50%;
  border: none;
  height: 30px;
  background: --dark-grey;
  color: #fff;
  font-family: "Myriad Pro";
  font-size: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.checkboxGroup::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

.checkboxGroup::-webkit-scrollbar-track {
  background: --dark-grey;
  border-radius: 5px;
}

.checkboxGroup::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 5px;
}

.checkboxGroup::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Myriad Pro" ;

  input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--grey);
    border: 1px solid #888888;
    cursor: pointer;
    border-radius: 5px;
  }

  input[type="checkbox"]:checked {
    background: #4caf50;
    position: relative;
    box-shadow: 0 0 3px 2px rgba(100, 150, 250, 0.5);
  }

  input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    background: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 0 3px 2px rgba(100, 150, 250, 0.5);
    margin: auto;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}


.inputSearch {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  background: --dark-grey;
  border-radius: 10px;
  color: var( --primery-color);
  position: relative;
  font-size: 0.8rem;
}

.searchImg {
  display: flex;
  align-items: center;
  position: relative;
}

.searchImg img {
  position: absolute;
  margin-left: 335px;
}

.divider {
  height: 1px;
  background-color: var( --primery-color);
  margin: 1rem 0;
  position: sticky;
}

.bottomButtons {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-top: auto;
}

.bottomButtons button {
  border: none;
  background: --dark-grey;
  color: var( --primery-color);
  width: 50%;
  height: 30px;
  border-radius: 10px;
  font-family: "Myriad Pro";
  cursor: pointer;
  font-size: 0.8rem;
}
