.iconButton {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease, background-color 0.15s ease;
    width: 36px;
    height: 36px;

  
    &:active {
      transform: scale(0.92); // эффект "уменьшения" при клике
    }

  }
  