.main {
    height: 100vh;
    overflow-y: auto;
    padding: 0 10px; 
  }
  

.header {
  margin-top: 38px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-main);
  gap: 20px;
}

.leftBlock {
  display: flex;
  align-items: center;
  gap: 16px;

  .projectInfo {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-size: 14px;
      color: #ccc;
      margin: 0;
    }
  }
}

.middleBlock {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px 24px;

  .infoGroup {
    display: flex;
    gap: 6px;

    .label {
      font-weight: 600;
    }

    .value {
      font-weight: 400;
    }
  }
}

.buttons {
  display: flex;
  gap: 16px;

  svg {
    fill: #ffcc00;
  }
}


.avatar {
    display: flex;
    align-items: center;
    gap: 15px;

    h1 {
        font-size: 16px;
        font-weight: 600;
    }
}

.rank {
    display: flex;
    flex-direction: column;

    .rankHeader {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid var(--secondary-bg-color);
        padding-bottom: 10px;

        .alignWrapper {
            display: flex;
            align-items: center;
            gap: 5px;

            p:first-child {
                font-weight: 600;
            }
        }
    }
}

.buttons {
    display: flex;
    gap: 16px;
}

.projectDetails {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-main);
  align-items: start;
}

.clientCard {
  border-radius: var(--border-radius-main);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .clientHeader {
    display: flex;
    align-items: center;
    gap: 12px;

    .clientLabel {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      line-height: 1.3;
    }
  }

  .clientInfo {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      margin: 0;
    }
  }
}

.projectFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.teamProject {
    padding: 30px 0;

    h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}

.projectFiles{
    margin: 30px 0 80px 0;
}