
.viewSwitcher {
  display: flex;
  width: 97.5%;
  gap: 186px;
  background-color: var(--grey);
  border-radius: 20px;
  height: 50px;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

.select {
  height: 30px;
  padding-left: 10px;
  width: 200px;
  padding: 8px 2px;
  padding-right: 50px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  background: var(--dark-grey);
  color:var( --primery-color);
  cursor: pointer;
  background-position: calc(100% - 40px) calc(1em + 2px), calc(100% - 35.2px) calc(1em + 2px),
  100% 0;
  background-size: 5px 5px, 5px 5px, 100%;
  background-repeat: no-repeat;
  appearance: none;
  text-indent: 30px;
}

.select:focus {
  outline: none;
}
