.fieldBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .label {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-secondary);
  }
  
  .textarea {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius-main);
    padding: 12px;
    color: var(--text-primary);
    resize: none;
    border: none;
    min-height: 60px;

  }
  