.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.today {
  color: red;
  font-weight: bold;
}

.modalContent {
  background: var(--grey);
  padding: 0.8rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  width: 280px;
  position: relative;
  margin-left: 120px;
  margin-top: -10%;
}

.cleanButton {
  background: --dark-grey;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
  color:var( --primery-color);
  font-size: 14px;
  text-align: center;
  width: 150px;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 20px;


  &:hover {
    background: #272a2d;
  }
}


.calendar {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: --dark-grey;
    padding: 0 20px;
    border-radius: 15px;
    width: 100%;
    height: 40px;

    h2 {
      font-size: 16px;
      font-weight: 600;
      margin-top: -10px;

    }
  }

  .navigation {
    display: flex;
    gap: 20px;

    button {
      border: none;
      background: --dark-grey;
      cursor: pointer;
      color:var( --primery-color);
    }
  }

  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 500;
    color:var( --primery-color);
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;

    .day {
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 6px;
      font-size: 0.875rem;

      &.selected {
        background: #888888;
        color: var( --primery-color);
      }

      &.inRange {
        background: #888888;
        //color: #1e40af;
      }

      &.disabled {
        color: #cbd5e1;
        cursor: not-allowed;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;

  button {
    width: 50%;
    height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 125px;
    cursor: pointer;
    font-weight: 500;

    &.cancel {
      background: --dark-grey;
      border: none;
      color: var( --primery-color);

      &:hover {
        background: #272a2d;
      }
    }

    &.apply {
      background: --dark-grey;
      border: none;
      color: var( --primery-color);

      &:hover {
        background: #272a2d;
      }
    }
  }
}
