
.specialistCard {
  background-color: var(--color-bg-primary);
  border-radius: 0.5rem;
  padding: 30px;
  

  .cardHeader {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 12px; 

    .headerContent {
      flex: 1;

      .userInfo {
        .nameContainer {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .name {
            font-size: 12px;
            font-weight: 600;
            color: var( --primery-color);
          }

          .rating {
            display: flex;
            align-items: center;

            .star {
              color: #ffc400;
              margin-right: 0.25rem;
            }
          }
        }

        .role {
          font-size: 29px;
          font-weight: 600;

          color: var( --primery-color);
        }

        .availability {
          font-size: 12px;
          padding: 5px 0;
          color: #ffc400;
        }
      }
    }

    .actionGroup {
      display: flex;
      align-items: flex-start;

      .buttons {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

        .iconButton {
          all: unset;
          cursor: pointer;
        }

        .profileButton {
          all: unset;
          padding: 0.5rem 2.5rem;
          border: 1px solid var(--yellow-color);
          color: var(--yellow-color);
          border-radius: var(--border-radius-main);
          cursor: pointer;
        }
      }
    }
  }

  .cardDetails {
   

    .description {
      color: var( --primery-color);
      margin: 0 0 0.5rem;
      font-size: 10px;
    }

    .skillList {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 10px;
      align-items: center;

      .label {
        font-weight: 600;
        color: var( --primery-color);
        font-size: 0.875rem;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
      }
    }

    .metadata {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: #9ca3af;
    }
  }
  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #9ca3af;
  
    div {
      white-space: nowrap;
    }
  
    strong {
      color: var( --primery-color);
      font-weight: 600;
      margin-right: 0.25rem;
    }
  }
  
}

