
.specialistCard {
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  padding: 30px;
  

  .cardHeader {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 12px; 

    .headerContent {
      flex: 1;

      .userInfo {
        .nameContainer {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .name {
            font-size: 12px;
            font-weight: 600;
            color: white;
          }

          .rating {
            display: flex;
            align-items: center;

            .star {
              color: #ffc400;
              margin-right: 0.25rem;
            }
          }
        }

        .role {
          font-size: 29px;
          font-weight: 600;

          color: white;
        }

        .availability {
          font-size: 12px;
          padding: 5px 0;
          color: #ffc400;
        }
      }
    }

    .actionGroup {
      display: flex;
      align-items: flex-start;

      .buttons {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

        .iconButton {
          all: unset;
          cursor: pointer;
        }

        .profileButton {
          all: unset;
          padding: 0.5rem 2.5rem;
          border: 1px solid var(--yellow-color);
          color: var(--yellow-color);
          border-radius: var(--border-radius-main);
          cursor: pointer;
        }
      }
    }
  }

  .cardDetails {
   

    .description {
      color: white;
      margin: 0 0 0.5rem;
      font-size: 10px;
    }

    .skillList {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 10px;
      align-items: center;

      .label {
        font-weight: 600;
        color: white;
        font-size: 0.875rem;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
      }
    }

    .metadata {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: #9ca3af;
    }
  }
  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #9ca3af;
  
    div {
      white-space: nowrap;
    }
  
    strong {
      color: white;
      font-weight: 600;
      margin-right: 0.25rem;
    }
  }
  
}


.ordersDropdown {
  position: absolute;
  top: 100%;  
  left: 0;
  right: 0;
  margin-top: 8px;
  background: var(--bg-toggle-color); 
  border-radius: 6px;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
  color: var(--primery-color);  
  font-size: 14px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.orderItem {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07); 
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);  
    color: var(--yellow-color); 
  }
}
