.item {
  margin-top: 4px;
}

.name {
  padding: 14px;
}

.itemHeader {
  background-color: var(--color-bg-primary);
  padding: 14px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: var(--border-radius-main);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #3a3a3a;
  }

  span {
    font-size: 14px;
    color: #e0e0e0;
    font-family: "Inter", sans-serif;
  }
}

.icon {
  width: 14px;
  height: 14px;

}

.arrow {
  width: 10px;
  height: 10px;
  transform: rotate(270deg);
  transition: transform 0.3s ease;

  &.open {
    transform: rotate(0deg);
  }
}

.children {
  margin-top: 4px;
  margin-left: 16px;
}

// Компенсация отступа для текста в папках (чтобы текст выравнивался с файлами)
:global(.itemHeader)>span {
  margin-left: 2px; // Небольшой отступ для текста в папках
}

.verticalLine {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  background-color: #FFC700;

  height: 0;
  transition: height 0.3s ease;
}

.verticalLine.active {
  height: 100%;
}

.menuWrapper {
  position: relative;
  margin-left: auto;
}

.menuButton {
  background: none;
  border: none;
  color: #ffc700;

  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: #aaa;

  }
}

.file {
  background-color: var(--color-bg-primary);
  padding: 14px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--border-radius-main);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 16px !important;

  &:hover {
    background-color: #3a3a3a;

  }

  .icon {
    width: 14px;
    height: 14px;
  }

  .name {
    font-size: 14px;
    color: #e0e0e0;
    font-family: "Inter", sans-serif;
  }

  .menu {
    margin-left: auto;
    color: #facc15;
    font-size: 20px;
    cursor: pointer;
  }
}

.file {
  margin-left: 16px; // тот же отступ, что у .item
}