.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 22px;
    color: var(--secondary-font-color);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;

    &.active {
      color: var(--bg-button-color);
      font-weight: 800;
    }

    &.collapsed  {
      gap: 50px;

    }

  }

  .navItem:last-child {
    margin-top: 30px; 
  }

  .navItem:hover {
    color: var(--bg-button-color);
  }



  a {
    text-decoration: underline; 
    color: inherit;
    color: var(--secondary-font-color); 

  }

  .leftBoard {
    position: absolute;
    left: -30px;
    margin-top: -5px;
    width: 3px;
    height: 34px;
    background: #ffc400;
    transition: top 0.3s ease;
  }


