.table {
  display: flex;
  flex-direction: column;

  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1f1f1f;
  font-size: 13px;
  align-items: center;

  &:nth-child(even) {
    background-color: #2a2a2a;
  }

  &.head {
    background: transparent;
    color: #b0b0b0;
    font-weight: 600;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  .title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }


  .count {
    font-size: 16px;
    font-weight: 600;
    color: #ccc;
  }

}