.card {
    background-color: var(--dark-lighter-bg-color);
  margin-bottom: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    min-width: 280px;
  }
  
  .number {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ddd;
    padding: 0 4px;
  }
  
  .price,
  .date {
    white-space: nowrap;
  }
  