.main {
  height: 100vh;
  overflow-y: auto;
  padding: 38px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
    padding: 25px 20px;
    border-radius: var(--border-radius-main);
    background-color: var(--color-bg-primary);
    
.header {
  display: flex;
  align-items: center; // ✅ по центру по вертикали
  justify-content: space-between;
  gap: 15px;
}

  
  .avatar {
    display: flex;
    align-items: center;
    gap: 15px;
  
    h1 {
      font-size: 16px;
      font-weight: 600;
    }
  }
  
.rank {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-width: 200px; 
}

  
.progressBar {
  width: 100%; // ✅ чтобы занимал всю доступную ширину в .rank
  max-width: 400px; // можно ограничить при необходимости
  margin: 0 auto; // ✅ по центру в колонке
}

  
  .rightBlock {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;

  > * {
    flex: 0 0 auto;
  }

  &.open {
    max-height: 300px; // <= фиксированная высота
    overflow-y: auto;
    opacity: 1;
  }
}


}

.pageContainer {
  height: calc(100vh - 100px); 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


.rank {
  background: rgba(255, 255, 0, 0.1);
}
.avatar {
  background: rgba(0, 255, 255, 0.1);
}
.rightBlock {
  background: rgba(255, 0, 255, 0.1);
}
